<!DOCTYPE html>
<html ng-app="toDo">
<head>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Todo-App</title>
</head>
<body ng-controller="mainCtrl">
	<form role="form">
<!-- 	  <div class="form-group">
	    <label for="email">Date:</label>
	    <input type="email" class="form-control" id="email" placeholder="dd/mm/yyyy">
	  </div> -->
	  <div class="form-group">
	    <label for="body">ToDo</label>
	    <input type="text" class="form-control" id="body" ng-model="todo.body">
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="createTodo(todo)">Submit</button>
	</form>
	<div ng-repeat="error in todoError" ng-show="todoError" class="errorIndicator">
		{{error}}
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 todo-main">
			<div class="checkbox text-center todo-each" ng-repeat="todos in todos | orderBy : '-done' : '-date' track by todos._id"ng-click="order(todos)">
			<label>
				<input ng-checked="todos.done" type="checkbox" ng-click="doneTodo(todos._id, todos.done)">
				{{todos.body}} 
			</label>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<button type="button" class="btn btn-danger" ng-click="deleteTodo(todos._id)">Delete</button>	
			</div>		
		</div>

		</div>
	</div>
	</div>
</body>
</html>