<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Todo-App</title>
</head>
<body ng-app="toDo">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="#/">ToDo-Done</a>
	        </div>
	        <ul class="nav navbar-nav">
	            <li class="active"><a href="#/">Home</a></li>
	            <li><a href="#">Todos</a></li>
	            <li><a href="#">Stats</a></li> 
	            <li><a href="#">Settings</a></li> 
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
		        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
            </ul>
	    </div>
	</nav>

	<!-- ANGULAR VIEW -->
	<div ng-view></div>

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/app.js"></script>	
</body>
</html>