	<div ng-repeat="error in todoError track by $index" ng-show="todoError" class="form-group col-sm-8 col-sm-offset-2 text-center alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{error}}
	</div>
		<button type="button" class="btn btn-success" ng-click="sortTodos()">Sort</button>	
	<form role="form" ng-show="currentUser">
<!-- 	  <div class="form-group">
	    <label for="email">Date:</label>
	    <input type="email" class="form-control" id="email" placeholder="dd/mm/yyyy">
	  </div> -->
	  <div class="form-group col-sm-8 col-sm-offset-2">
	    <label for="body">ToDo</label>

	    <input type="text" class="form-control" id="body" ng-model="todo.body">

	    <div class="radio" ng-init="todo.until = 0">
	    	<label><input type="radio" name="until" ng-model="todo.until" value="0">Today</label>
	    </div>
	    <div class="radio">
	    	<label><input type="radio" name="until" ng-model="todo.until" value="1">Tomorrow</label>
	    </div>
	    <div class="radio">
	    	<label><input type="radio" name="until" ng-model="todo.until" value="2">This week</label>
	    </div>
	    <div class="radio">
	    	<label><input type="radio" name="until" ng-model="todo.until" value="3">Some day</label>
	    </div>

	    <br>
		<!-- orderBy:['done', 'until', '-date'] -->
	  	<button type="submit" class="btn btn-default" ng-click="createTodo(todo)">Add</button>
	  </div>
	</form>
	<div class="row" ngCloak>
		<div class="col-sm-4 col-sm-offset-4 todo-main">
			<div class="text-center todo-each" ng-repeat="todos in todos track by todos._id">
			<div class="daySeparator" ng-show="todos.label">
				{{when(todos.until, todos.done)}}
			</div>
			<label>
				<input ng-checked="todos.done" type="checkbox" ng-click="doneTodo(todos._id)">
				{{todos.body}}<br />
			</label>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<button type="button" class="btn btn-danger" ng-click="deleteTodo(todos._id)">Delete</button>	
			</div>		
		</div>

		</div>
	</div>
	</div>
